.service_image {
    width: 30vw;
    height: auto;
}

.trial {
    margin: 0;
    padding: 0;
    max-width: none;
}

.user-icon {
    height: 50px;
    width: auto;
}

.service-image {
    height: 330px !important;
    max-width: 390px;
}