.crd {
    border-radius: 1.6vh;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    margin-top: 2vh;
}

.drk-heading {
    color: green;
    text-shadow: 2px 2px #b2f554;
}

#navBarSearchForm {
    width: 17vh;
    transition: width 1s;
}

#navBarSearchForm:focus {
    width: 43vh;
}

.dms {
    margin-left: 166.5vh;
    width: 43vh;
}
/* #searchResult  */