.salon_poster {
    background-image: url('../image/barber.jpg');
    height: 75vh;
    width: 100vw;
    background-position: center;
    padding: 10vh 7vw;
}

.trial {
    margin: 0;
    padding: 0;
    max-width: none;
}

.text-dark-blue {
    color: rgb(2, 2, 66);
    text-shadow: 1.2px 1.2px #f8f4f4;
}

.service-card {
    background-color: rgb(219, 218, 218);
    width: 96px;
    display: inline-block;
    border-radius: 8px;
    margin-left: 2.5rem !important;
    margin-right: 2.5rem !important;
}

.service-card img {
    height: 65px;
    width: 65px;
    margin: auto 16px;
}