{% extends 'base.html' %} 
{% block title %}About{% endblock title %}
{% block body %}
<h2 class="mt-5 mb-4 crd">This is about page</h2>
<div class="container crd">
    <div class="row">
      <div class="col crd">
        <div class="card crd" style="width: 18rem;">
            <img src="https://cyber-security.co.in/css/image/dhiraj.jpg" height="280" class="card-img-top" alt="Unavailable">
            <div class="card-body">
              <h5 class="card-title">Dhiraj Mokal</h5>
              <p class="card-text">Make site design alogorithm.<br>Manage all technical Aspects and Research related to the projects.</p>
              <a href="mailto:dhirajmokal13@gmail.com?subjcet=About Section Contact" class="btn btn-outline-primary">Contact</a>
            </div>
          </div>
      </div>
      <div class="col"></div>
      <div class="col crd">
        <div class="card crd" style="width: 18rem;">
            <img src="https://cyber-security.co.in/css/image/nachiket.jpg" height="280" class="card-img-top" alt="Unavailable">
            <div class="card-body">
              <h5 class="card-title">Nachiket Lokhande</h5>
              <p class="card-text">Manage other issues of site<br>ideas for site and how can be that implement in the project</p>
              <a href="mailto:nachiketl1234@gmail.com?subjcet=About Section Contact" class="btn btn-outline-primary">Contact</a>
            </div>
          </div>
      </div>
      </div>
    </div>
  </div>
{% endblock body%}
