{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link href="{% static "css/main.css" %}" rel="stylesheet">
    <style>
    body {
      background-image: url({% static "image/background.jpg" %});
      background-position: -80% 10%;
    }
</style>
    <title>LunchBox | {% block title %} {% endblock title %}</title>
  </head>
  <body class="d-flex flex-column min-vh-100">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- navbar start -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" style="color:black" id="hea" href="/">LunchBox</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
            {% if session.userlogin ==  True %}
             <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false">
                User Account
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><span class="dropdown-item">{{session.username}}</span></li>
                <li><a class="dropdown-item text-success" href="/myorders">My Orders</a></li>
                <li><hr class="dropdown-divider"/></li>
                <li><a class="dropdown-item text-danger" href="/logout">Logout</a></li>
              </ul>
            </li>
            {% elif session.businesslogin == True %}
               <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false">
                Business Account
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><span class="dropdown-item">{{session.buname}}</span></li>
                <li><hr class="dropdown-divider"/></li>
                <li><a class="dropdown-item text-success" href="/planlist">Plans list</a></li>
                <li><a class="dropdown-item text-success" href="/addplan">Add Plans</a></li>
                <li><a class="dropdown-item text-success" href="/showorders">Show Orders</a></li>
                <li><hr class="dropdown-divider"/></li>
                <li><a class="dropdown-item text-danger" href="/logout">Logout</a></li>
              </ul>
            </li>
            {% else %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false">
                Login
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/userLogin">User Login</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="/businessLogin">Business Login</a></li>
              </ul>
            </li>
            {% endif %}
          </ul>
          <form class="d-flex">
            <input
              class="form-control me-3"
              type="search"
              placeholder="Search"
              aria-label="Search"
              id="navBarSearchForm"
            />
          </form>
        </div>
      </div>
    </nav>
    <!-- navbar end -->
    {% if messages %} {% for message in messages %}
    <script>
      swal("{{message.tags}}", "{{message}}", "{{message.tags}}");
    </script>
    {% endfor %} {% endif %}
    <div class="container">{% block body %} {% endblock body %}</div>
    {% comment %} javascript start here {% endcomment %}
    <script>
    let heading = document.getElementById("hea");
    setInterval(function(){
        if (heading.style.color == "black"){
            heading.style.color = "red"
        }else if(heading.style.color == "red"){
            heading.style.color = "blue"
        }else{
            heading.style.color = "black"
        }
    },1000);
</script>
    {% comment %} javascript end here {% endcomment %}
    {% comment %} footer start here {% endcomment %}
    <footer class="text-center p-3 mt-auto" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2022 Copyright:
            <a class="text-white" href="/">LunchBox</a>
    </footer>
    {% comment %} footer end here {% endcomment %}

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <script src="{% static "javascript/main.js" %}"></script>
  </body>
</html>
